/*****************************
BASIC STYLES
******************************/

body {
    margin: 0;
    padding: 30px; /* Pushes content away from the edges of the browser */
    background: #dedede; /* Background color */
    font-family: sans-serif; /* Sets font family for entire page, unless you declare something else below */
}

li {
  text-decoration: none;
  /* list-style: none; */
}

a {
  text-decoration: none;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: lightseagreen; /* Color for all headers */
  text-align: center; /*Align all headers to center */
}

/* Links */
a {
  color: dodgerblue;
  text-decoration: none; /* Removes underline from hyperlinks */
}

/* Hover effects */
a:hover { color: royalblue; }


/*****************************
GRID CONTAINER
******************************/
.grid-container {
  display: grid;  /* Don't delete this line */
  grid-template-columns: repeat(12, 1fr); /* Sets up 12 equal columns */
  grid-gap: 10px; /* Sets gap between sections */
}


/*****************************
ALL SECTIONS 
This targets all <section> elements irregardless of class. 
******************************/
section {
  padding: 15px;
  background: white;
}
/*****************************
INDIVIDUAL SECTIONS 
Change the class names to fit your content (e.g. ".header" or ".bio") and delete anything you don't need.
******************************/
.header-section {
  grid-column: span 12; /* Spans full width of 12 column container */
  align-items: center;
  justify-content: center;
  /* display: flex;
  flex-direction: column; */
}

.menu-wrapper > #menu-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.menu-item {
  margin: .3em;
}

.title-section {
  grid-column: span 4; /* Spans 4 columns (out of 12) */
  grid-row: 2;
  grid-column: 4/9;
  display: grid;
  justify-content: center;
}

.description-section {
  grid-row: 3;
  grid-column: 4/6;
}

.image-section {
  grid-column: span 1;
  /* The following three lines center this section's content vertically AND horizontally. Read more about Flex here: https://internetingishard.com/html-and-css/flexbox/ */
  grid-row: 3;
  grid-column: 7/9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ingredient-section{
  grid-column: 4 / 6;
  /* background: #dcdcdc; /* Matches the background color of the body */
  /* border: 1px solid #ababab; */
}

.instruction-section {
  grid-column:  7 / 9; /* Instead of defining the size with "span" this section begins at column-line-3 and ends at column-line-11 (note that 12 columns create 13 column-lines between the columns), view lines using the browser inspector. */
  text-align: center; /* Centers the text horizontally */
}



/*****************************
 FOR MOBILE DEVICES:
 When the browser is smaller than 600px wide,
 all sections become 12 columns wide (full width).
 TRY RESIZING YOUR BROWSER TO SEE THIS IN ACTION.
 ******************************/
  @media (max-width: 600px) {
    .grid-container section { grid-column: span 12; }

  }
