/*****************************
BASIC STYLES
******************************/

body {
    margin: 0;
    padding: 30px; /* Pushes content away from the edges of the browser */
    background: #00628C; /* Background color */
    font-family: "Roboto Slab", sans-serif; /* Sets font family for entire page, unless you declare something else below */
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* Typography */
h1 {
  text-align: center; /*Align all headers to center */
}

h3, h4 {
  color: #52F170;
}
/* Links */
a {
  color: black;
  text-decoration: none; /* Removes underline from hyperlinks */
}

/* Hover effects */
a:hover { color: royalblue; }


/*****************************
GRID CONTAINER
******************************/
.grid-container {
  display: grid;  /* Don't delete this line */
  grid-template-columns: repeat(12, 1fr); /* Sets up 12 equal columns */
  grid-gap: 10px; /* Sets gap between sections */
}


/*****************************
ALL SECTIONS 
This targets all <section> elements irregardless of class. 
******************************/
section {
  padding: 15px;
  background: wheat;
}
/*****************************
INDIVIDUAL SECTIONS 
Change the class names to fit your content (e.g. ".header" or ".bio") and delete anything you don't need.
******************************/
.header-section {
  grid-column: 4 / 9; /* Spans full width of 12 column container */
}

.menu-wrapper > #menu-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.menu-item {
  margin: .3em;
}

.title-section {
  grid-row: 2;
  grid-column: 4/9;
  display: grid;
  justify-content: center;
}


[class*=".time-list"] {
  display: flex;
  flex-direction: row;
}

.header-title {
  grid-column: 2;
}
.time-list-1 {
  grid-row-start: inherit;
}

.time-list-2 {
  grid-row: 2;
  text-align: center;
}

.time-list-3 {
  grid-row: 2;
}

.description-section {
  grid-row: 3;
  grid-column: 4/6;
  padding: 60px 50px;
}

.image-section {
  grid-column: span 1;
  /* The following three lines center this section's content vertically AND horizontally. Read more about Flex here: https://internetingishard.com/html-and-css/flexbox/ */
  grid-row: 3;
  grid-column: 7/9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dish-img {
  width: 350px;
  height: 250px;
}
.ingredient-section{
  grid-column: 4 / 6;
  padding: 20px 60px;
}

.list {
  padding: .3em;
}

.instruction-section {
  grid-column:  7 / 9; 
  grid-row: 4 / 6;
  padding: 30px 30px;
}

.steps {
  padding: .6em .3em;
}



/*****************************
 FOR MOBILE DEVICES:
 When the browser is smaller than 600px wide,
 all sections become 12 columns wide (full width).
 TRY RESIZING YOUR BROWSER TO SEE THIS IN ACTION.
 ******************************/
  @media (max-width: 600px) {
    .grid-container section { grid-column: span 12; }

  }
